GSHEET_SA='REQUIRED:BASE64_OF_JSON_SERVICE_ACCOUNTS_TO_ACCESS_GOOGLE_SHEET'
GSHEET_ID='REQUIRED:Google sheet ID'
GSHEET_CELLRANGE='REQUIRED:range of cell google sheet cell range'
RUMAH_BLACKLIST='blacklisted rumah seperated by comma'
FOOTER_LEFT='Detail: link to google sheet'
FOOTER_RIGHT='Form Akses: link to google sheet access form'
REPORT_TITLE='Title in kas report'
BOT_TOKEN='Telegram bot tokens'
BOT_ADMIN='list of bot admin separated by comma'
